/*----- 基础样式 -----*/
* {
    margin: 0;
    padding: 0;
    font-family: "苹方","Microsoft YaHei",sans-serif;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}
input[type=text] {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100px;
}

body {
    font-size: 16px;
    background: #f5f8f6;
}

/* 1rem = 100px * 320px/750px */
@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 48px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 50px;
    }
}

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px;
    }
}
/*----- 基础样式 end -----*/

/*----- 设置字体
 * 按照 750px 设计稿测量 换算成响应的 rem -----*/

.f24 {
    font-size: 0.24rem;
}
.f26 {
    font-size: 0.26rem;
}
.f28 {
    font-size: 0.28rem;
}
.f30 {
    font-size: 0.3rem;
}
.f32 {
    font-size: 0.32rem;
}
.f38 {
    font-size: 0.38rem;
}
.f34 {
    font-size: 0.34rem;
}
.f44 {
    font-size: 0.44rem;
}

/*----- 设置字体 end -----*/

/*----- 颜色 -----*/
.bg-f {
    background: #fff;
}
.bg-f6f8f7 {
    /*背景灰*/
    background-color: #f6f8f7; 
}
.bg-f9 {
    background-color: #f9f9f9;
}
.bg-e {
    background-color: #eee;
}

.bg-theme {
    /*主题渐变绿*/
    background: linear-gradient(to right, #42d36e , #4fd3a2);
}

.bg-fe {
    /*红*/
    background-color: #fe3a32;
}

.bg-c8 {
    /*灰*/
    background-color: #c8c7cd;
}

.c-45d {
    /*主题绿*/
    color: #45d276;
}
.c-fe {
    /*红*/
    color: #fe3a32;
}

.c-f {
    /*白色*/
    color: #fff;
}
.c-71 {
    /*灰色*/
    color: #717171;
}
.c-b {
    color: #bbbbbb;
}
.c-b3 {
    color: #B3B3B3;
}
.c-c8c7 {
    color: #c8c7cd;
}
.c-c1 {
    color: #c1c1c1;
}
.c-0 {
    /*黑色*/
   color: #000;
}
.c-40 {
    /*黑色*/
    color: #404040;
}
.c-b7 {
    color: #b7b7b7;
}
.c-ff0{
    /*红色*/
    color: #ff0000;
}
 .c-e8{
     /*红橙色*/
     color: #e87654;
 }


/*----- 颜色 end -----*/

/*-----公共样式-----*/
.float-l {
    float: left;
}
.float-r {
    float: right;
}

.bor-top {
    border-top: 1px solid #e7e7e7;
}
.bor-bot{
    border-bottom: 1px solid #e7e7e7;
}

.flex-col {
    display:         flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
}

.flex-row {
    display:         flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
            align-items: center;
}

.justify {
    /*盒子模型两端对齐*/
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.center {
    text-align: center;
}

.boxSizing {
            box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pad50 {
    /*750下 50px*/
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.pad37 {
    /*750下 37px*/
    padding-left: 0.37rem;
    padding-right: 0.37rem;
}
/*-----公共样式 end-----*/

.mui-content {
    background: none;
}

.void25 {
    height: 0.25rem;
}
.void32 {
    height: 0.32rem;
}
.void40 {
    height: 0.4rem;
}
.void48 {
    height: 0.48rem;
}
.void54 {
    height: 0.54rem;
}
.void64 {
    height: 0.64rem;
}
.void80 {
    height: 0.8rem;
}
.void100 {
    height: 1rem;
}

/* 头部导航栏 */
.top-nav .mui-title,
.top-nav .mui-icon-left-nav,
.top-nav .mui-btn-link{
    color: #fff;
}

/* 列表 */
.rectTable {
    
}
.rectItem {
    height: 0.8rem;
    padding-left: 0.50rem;
    padding-right: 0.50rem;
    line-height: 0.8rem;

    border-top: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.rectItem:last-child {
    border-bottom: 1px solid #e7e7e7;
}

/* 按钮 */
.btnBox {
    /*width: 72.26666%;*/
    width: 5.4rem;
    margin: 0.4rem auto;
}
.btn {
    width: 100%;
    height: 0.8rem;
    border-radius: 0.4rem;
    border: none;
}

.radio input[type =radio]{
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    top: 5px;
}
.radio input[type =radio]:before{
    color: #45d276;
}
.radio input[type =radio]:checked:before{
    color: #45d276;
}
.mui-radio.radio label {
    padding-left: 0.4rem;
}

.avatar {
    width: 1.56rem;
    height: 1.56rem;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 12px #d5ede3;
            box-shadow: 0 0 12px #d5ede3;
}

/*底部导航*/
.botnav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background: #fff;
    border-top: 1px solid #e7e7e7;
}
.botnavItem {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: 1px solid #e7e7e7;
    width: 20%;
    height: 19px;
    text-align: center;
    
}

.botnavItem:last-child{
    border: none;
}
i {
    display: inline-block;
}
.icon {
    width: 20px;
    height: 20px;
    background-color: red;
}
.icon-drug{background:url(../images/icon_drug.png); background-size: 100%;}
.icon-store{background:url(../images/icon_store.png); background-size: 90%;}
.icon-stem{background:url(../images/icon_temp.png); background-size: 100%;}
.icon-info{background:url(../images/icon_info.png); background-size: 90%;}
.icon-bbs{background:url(../images/icon_bbs.png); background-size: 100%;}
.currentNav .icon-info{background:url(../images/icon_info1.png); background-size: 100%;}
.currentNav .icon-drug{background:url(../images/icon_drug1.png); background-size: 100%;}
.currentNav .icon-store{background:url(../images/icon_store1.png); background-size: 95%;}
.currentNav .icon-bbs{background:url(../images/icon_bbs1.png); background-size: 100%;}
.currentNav .icon-stem{background:url(../images/icon_temp1.png); background-size:100% 100%;}

.currentNav {
    height: 100%;
    padding-top: 14px;
    background: #43d274;
    color: #fff;
}

.botnav .icon {
    background-color: transparent;
   background-position: center;
    background-repeat: no-repeat;
}
.botnav .icon.drug {
    background-image: url(../images/icon_drug.png);
}
.botnav .icon.store {
    background-image: url(../images/icon_store.png);
}
.botnav .icon.temp {
    background-image: url(../images/icon_temp.png);
}
.botnav .icon.info {
    background-image: url(../images/icon_info.png);
}
.botnav .icon.bbs {
    background-image: url(../images/icon_bbs.png);
}
/*end 底部导航*/


/*侧滑菜单*/
.mui-off-canvas-left {
    width: 3rem;
}
.menu {
    background: #f6f8f7;
}

.menu .userInfo {
    margin-top: 0.44rem;
}
.menu .avatar {
    width: 1.6rem;
    height: 1.6rem;
    margin-bottom: 0.24rem;
}
.menu .integral {
    margin-top: 0.17rem;
    margin-bottom: 0.4rem;
}

.menu .rectTable {
    width: 100%;
}

.menu .rectItem {
    line-height: 0.8rem;
    text-align: center;
}
.menu .menu-logo {
    width: 0.86rem;
    height: 0.6rem;
    background: url(../images/gLogo.png) no-repeat center;
    background-size: 0.86rem;
}

.mui-scroll-wrapper {
    overflow: visible;
}

.popUpBox {
    position: relative;
}

.popUp:before {
    position: absolute;
    top: 50%;
    left: -0.16rem;
            transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 0.16rem solid transparent;
    border-right: 0.16rem solid #45D276;
    border-bottom: 0.16rem solid transparent;
}

.active .popUp.rectTable {
            transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.popUp.rectTable {
    transition: all 1s;
    position: absolute;
    z-index: 30;
    left: 100%;
    top: 50%;
            transform: translateY(400%);
    -webkit-transform: translateY(400%);

    width: 3.47rem;
    padding: 0.19rem 0.3rem;
    border-radius: 10px;
    background: #faf9f9;
}

.popUp.rectTable .rectItem {
    padding: 0;
    height: 0.55rem;
    line-height: 0.55rem;
    border-top: 0;
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
}

.popUp.rectTable .btn {
    margin-top: 0.09rem;
    width: 1.4rem;
    height: 0.4rem;
    border: 1px solid #45D276;
    line-height: 0.4rem;
    text-align: center;
    color: #45D276;
    float: right;
}
