
/* 报警设置 warn-------------- */
.warn .title {
    height: 0.5rem;
    line-height: 0.5rem;
    margin-top: 0.45rem;
}

.warn .noBor {
    border-bottom: 0;
}

.warn .temp {
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    width: 0.62rem;
    height: 0.64rem;
    border-radius: 5px;
    background-color: #eee;
    text-align: center;
    line-height: 0.68rem;
}
.warn .time {
    width: 1.16rem;
}

.warn .rectItem .btn {
    width: 1.7rem;
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0;
}

.warn .btnBox {
    margin-top: 2.8rem;
}


/* 联系我们 cu（关于我们 contactUs）*/
.cu .info img{
    width: 1.8rem;
    margin-top: 0.9rem;
    margin-bottom: 0.4rem;
}

.cu .info .version {
    /* 版本号 */
    margin-top: 0.26rem;
    margin-bottom: 0.16rem;
}

.cu .info .btn {
    width: 1.62rem;
    height: 0.5rem;
    border: 1px solid #45D276;
    margin-bottom: 0.5rem;
    padding: 0;
    line-height: 0.5rem;
}

.cu .rectItem .icon {
    margin-right: 0.28rem;
}

.cu .rectItem {
    padding-right: 0.34rem;
}

.cu .icon {
    width: 0.24rem;
    height: 0.24rem;
    border-radius: 50%;
    background: #45D276;
    -webkit-box-shadow: 0 0 12px #d5ede3;
        box-shadow: 0 0 12px #d5ede3;
}

/* 消息列表  il (fInfoList.html) ------- */

.il .radio {
            flex-shrink: 0;
    -webkit-flex-shrink: 0;
    margin-right: 0.18rem;
    width: 0.20rem;
    height: 0.20rem;
    border-radius: 50%;
    border: 1px solid #45D276;
}
.il .radio:before {
    margin: 0 auto;
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0.10rem;
    height: 0.10rem;
    background: #45D276;
}

.il .rectItem .brief {
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
            flex-shrink: 1;
    -webkit-flex-shrink: 1;

}

.il .sel .radio {
    border-color: #b9b9b9;
}
.il .sel .radio:before {
    display: none;
}
.il .sel .brief{
    color: #b9b9b9;
}
